$lightColor:#ddd;
$lightColor2:#abddfa;
$darkColor:#006674;
$darkColor2:#063238;

$mediumColor:#67a0a8;
/*
$lightHColor:#D9D146;
$darkHColor:#ff0;
*/

$lightHColor:#00ffff;
$darkHColor:#fff;

@import 'style.scss';
@import 'mathDraw.scss';
